
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.weather-container {
    margin-bottom: 20px;
}

#city {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


#weatherDetails {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    display: none;
}

.weather-details h2 {
    margin: 0;
    font-size: 24px;
}

.weather-details p {
    margin: 5px 0;
    font-size: 18px;
}

#getWeather {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

#showbtn{
    color: #007bff; 
    font-size: 16px; 
    font-weight:bold; 
    background: none; 
    border: none; 
    cursor: pointer; 
    display: inline-flex; 
    align-items: center;
}
#showbtn:hover{
    color: #5da8f9;
}

#showbtn i{
    color:#007bff; 
    font-size: 16px; 
    font-weight:bold; 
    margin-left: 4px; 
    margin-top:4px;
}

.extra-Details{
    display: none; 
}

